# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2017

###############################
# Core EditorConfig Options   #
###############################
root = true

###############################
# File Formatting Options     #
###############################
[*.cs]
indent_style = tab
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

#################################
# Naming Conventions            #
#################################

# Non-Public Member Fields are camelCase and start with _
dotnet_naming_rule.non_public_fields_rule.severity = warning
dotnet_naming_rule.non_public_fields_rule.symbols = non_public_fields_symbols
dotnet_naming_rule.non_public_fields_rule.style = non_public_fields_style

dotnet_naming_symbols.non_public_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.non_public_fields_symbols.applicable_accessibilities = private, protected

dotnet_naming_style.non_public_fields_style.capitalization = camel_case
dotnet_naming_style.non_public_fields_style.required_prefix = _

# Constants are ALL_UPPER
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.constants_rule.style = constants_style

dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = *

dotnet_naming_style.constants_style.capitalization = all_upper
dotnet_naming_style.constants_style.word_separator = _

#################################
# Indentation options           #
#################################

csharp_indent_labels = flush_left

#################################
# Wrap options                  #
#################################

csharp_preserve_single_line_statements = false

#################################
# Var Usage                     #
#################################

csharp_style_var_elsewhere = false:warning
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:warning

#################################
# Resharper Properties          #
#################################

resharper_invert_if_highlighting = none
resharper_check_namespace_highlighting = none
resharper_convert_to_using_declaration_highlighting = none
resharper_csharp_max_line_length = 150
resharper_csharp_allow_alias = false
resharper_csharp_default_private_modifier = explicit
resharper_csharp_default_internal_modifier = explicit